<div class="container-fluid px-4 py-5 bg-body-tertiary" id="hanging-icons">
    <div class="container">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-shop-lock"></i>
                </div>
                <div>
                    <h5 class="fs-5 text-body-emphasis">Güvenli Alışveriş</h5>
                    <p>100% Güvenli Alışveriş Yapabilme.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div>
                    <h5 class="fs-5 text-body-emphasis">Mutlu Müşteriler</h5>
                    <p>Her alışverişinden memnun ve mutlu müşteriler!</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <i class="fa-solid fa-plate-wheat"></i>
                </div>
                <div>
                    <h5 class="fs-5 text-body-emphasis">Tazelik/Lezzet</h5>
                    <p>Tüm Ürünler Taze ve Lezzetli!</p>
                </div>
            </div>
        </div>
    </div>
</div>