{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <h1>Anasayfa</h1>
                <hr>

                {% include 'product/partials/_slider.html' %}
                <br>
                <h4>Bu Ayın Tercih Edilenleri</h4>
                <hr>
                <div class="container">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.title }}</h5>
                                        <p class="card-text"></p>
                                        <a href="#" class="btn btn-primary">Keşfet</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block js_files %}
    <script src="{% static 'blog/js/script.js' %}"></script>
{% endblock %}