{% extends "base.html" %}

{% load static %}

{% block css_files %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}
{% block title %}Anasayfa{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Anasayfa</h1>
                <hr>

                {% include 'product/partials/_slider.html' %}
                <br>
                <h4>Popüler Ürünler</h4>
                <hr>

                <div class="container ">
                    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" slides-per-view="auto"
                                      space-between="20" free-mode="true">
                        {% for product in products %}
                            <swiper-slide>
                                <div class="card ">
                                    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h2 class="card-title">{{ product.title }}</h2>
                                        <p class="card-text"></p>
                                        <a href="#" class="btn btn-primary">Keşfet</a>
                                    </div>
                                </div>
                            </swiper-slide>
                        {% endfor %}
                    </swiper-container>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block js_files %}<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>{% endblock %}