{% extends "base.html" %}

{% block title %}Ürünler{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                {% include 'partials/_productcategories.html' %}
            </div>
            <div class="col-9">
                <h1>Ürünlerimiz</h1>
                <hr>
                {% if products|length > 0 %}
                    {% for product in products %}
                        {% include 'product/partials/_product.html' %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-warning">
                        Ürün Yok
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}